@import url('https://fonts.googleapis.com/css2?family=Jockey+One&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
}

body{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #2A2B39;
}

#team-1-name-container{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background: rgb(57,57,57);
    background: linear-gradient(270deg, rgba(57,57,57,1) 0%, rgba(44,40,44,1) 100%, rgba(0,212,255,1) 100%);
}

#team-2-name-container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: rgb(57,57,57);
    background: linear-gradient(90deg, rgba(57,57,57,1) 0%, rgba(44,40,44,1) 100%, rgba(0,212,255,1) 100%);
}

select{
    font: 3.2rem 'Jockey One', sans-serif;
    margin: 0 2.5rem 0 1.5rem;
    background: transparent;
    color: white;
    border: none;
}

select:hover{
    cursor: pointer;
}

#team-1-name-container option, #team-2-name-container option{
    font: 1.5rem 'Jockey One', sans-serif;
    margin: 0 2rem;
    color: black;
    border: none;
    background: none;
}

img{
    opacity: 0;
    height: 75px;
    width: 75px;
    margin: .5rem 0 .5rem 2.5rem;
}


.data{
    font: 1.5rem 'Jockey One', sans-serif;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.disabled{
    color: darkgrey;
    background: grey; 
}

#team-1-data-container, #team-2-data-container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
}
